@import '@fontsource/inter/400.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/jetbrains-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuración básica para Material Symbols */
.material-symbols-rounded {
  font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24
}