@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Inter', system-ui, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    width: 100%;
    background-color: #fcfdfe; /* Tu color de fondo */
    color: #0f172a;
    -webkit-font-smoothing: antialiased;
}

/* Importante para que el layout de React funcione */
#root {
    width: 100%;
    height: 100%;
}