@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tus estilos globales abajo si los necesitas */
:root {
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    display: flex;
    place-content: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #f8fafc; /* Un gris muy claro de fondo */
}